@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .service-card {
    @apply rounded-2xl bg-white  p-6 shadow-sm
           transition hover:-translate-y-1 hover:shadow-lg;
  }
  
}
